
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d88686b9;
}
.container {
    color: rgb(133, 10, 102);
    background-color: #efd7d7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="checkbox"] {
    margin: 5px;
}